<div class="all-list">

    <h1 class="title-list blink">BΔNDS</h1>

    <ul class="items-list scroll">
        <li><a href="#"><img src="https://alchetron.com/cdn/incubus-band-66c9bd64-1062-4531-b076-dd503653607-resize-750.jpg" /></a></li>
        <li><a href="#"><img src="https://images-puremix.akamaized.net/cache/pmmodalimages/images/interface/images_zelab/36/thumb_300_auto.jpg" /></a></li>
        <li><a href="#"><img src="https://i.pinimg.com/originals/11/51/7f/11517f26619b082f2ec664f4c677dcc7.jpg" /></a></li>
        <li><a href="#"><img src="https://r1.ilikewallpaper.net/ipad-wallpapers/download/25441/Arctic-Monkeys-Rock-Band-Grayscale-Poster-ipad-wallpaper-ilikewallpaper_com.jpg" /></a></li>
        <li><a href="#"><img src="https://ae01.alicdn.com/kf/HTB1q1zAXPvuK1Rjy0Faq6x2aVXah.jpg" /></a></li>
        <li><a href="#"><img src="https://miro.medium.com/max/1920/1*R-vijCsKBCJygvtk4KS9wQ.jpeg" /></a></li>
    </ul>

</div>