<div class="index">
    <div class="cover">
        <img src="/assets/main-band4.jpg" alt="band" width=100%>
        <div class="cover-text">
            <div class="grit" id="title-animation">
                <h1>J</h1>
                <h1>Δ</h1>
                <h1>M</h1>
                <h1>Z</h1>
            </div>
            <h3 class="fade-in5">Find Gigs Find Musicians</h3>
            <h5 class="fade-in5">Live Music Events Everywhere</h5>
        </div>
    </div>
</div>
