<div class="all-list">

    <h1 class="title-list blink">PLΔCES</h1>

    <ul class="items-list scroll">
        <li><a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ9fpQ5yuxmswf72Grdp0gTpg_3da5ICzCdh091WAszW-yrbIWD&usqp=CAU" /></a></li>
        <li><a href="#"><img src="https://pbs.twimg.com/profile_images/777284577287102468/_FzGQ0EN_400x400.jpg" /></a></li>
        <li><a href="#"><img src="http://dixieats.com/wp-content/uploads/2015/05/Logo-Andr%C3%A9s-D.C..jpg" /></a></li>
        <li><a href="#"><img src="https://i2.wp.com/plazamayorcc.com.co/wp-content/uploads/2014/02/BBC-Logo.png?fit=304%2C313&ssl=1" /></a></li>
        <li><a href="#"><img src="https://www.parquelacolina.com/wp-content/uploads/2018/11/crepeswaffles-logo.png" style="background: white;"/></a></li>
        <li><a href="#"><img src="https://ccplazacentral.com/wp-content/uploads/2017/08/beer1.jpg" /></a></li>
    </ul>

</div>