<div class="shows-list">
<h1 class="title-shows blink">SHOWS</h1>

<div class="container scroll" style="padding-top: 2%">
<div class="row">

<div class="col">
    <widget type="ticket" class="--flex-column">
    <div style="width: 300px">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
    <div class="top --flex-column">
        <div class="bandname -bold" style="padding-top: 5px">PLΔCE</div>
        <div class="tourname">Hard Rock Cafe</div>
        <img src="http://atlantisplaza.com/wp-content/uploads/2015/07/ATLANTIS-logo-hard.jpg" alt="" width="300px"
        style="padding: 5px 0 0 0" />
        </div>
    
    <div class="top-back">
        <div class="bandname -bold" style="padding-top: 5px">BΔND</div>
        <div class="tourname">Oasis</div>
        <img src="https://i.pinimg.com/originals/11/51/7f/11517f26619b082f2ec664f4c677dcc7.jpg" alt="" width="300px"
        style="padding: 5px 0 0 0" />
        </div>
    </div>
    </div>
    
    <div class="rip"></div>
    <div class="bottom --flex-row-j!sb" style="height: 80px; padding-top: 0">
        <div class="event --flex-column" style="padding-top: 0">
                <div class="date">15th November 2019 - 8:00 PM</div>
                <div class="location -bold">Bogota, Colombia</div>
            </div>
            <div class="price --flex-column" style="display: flex">
                <div class="label" style="margin-right: 5px">Price</div>
                <div class="cost -bold">$80.000</div>
            </div>
        </div>
    </div>
    </widget>
</div>

<div class="col">
    <widget type="ticket" class="--flex-column">
    <div style="width: 300px">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
    <div class="top --flex-column">
        <div class="bandname -bold" style="padding-top: 5px">PLΔCE</div>
        <div class="tourname">The Pub</div>
        <img src="https://pbs.twimg.com/profile_images/777284577287102468/_FzGQ0EN_400x400.jpg" alt="" width="300px"
        style="padding: 5px 0 0 0" />
        </div>
    
    <div class="top-back">
        <div class="bandname -bold" style="padding-top: 5px">BΔND</div>
        <div class="tourname">Artic Monkeys</div>
        <img src="https://r1.ilikewallpaper.net/ipad-wallpapers/download/25441/Arctic-Monkeys-Rock-Band-Grayscale-Poster-ipad-wallpaper-ilikewallpaper_com.jpg" alt="" width="300px"
        style="padding: 5px 0 0 0" />
        </div>
    </div>
    </div>
    
    <div class="rip"></div>
    <div class="bottom --flex-row-j!sb" style="height: 80px; padding-top: 0">
        <div class="event --flex-column" style="padding-top: 0">
                <div class="date">29th November 2019 - 8:00 PM</div>
                <div class="location -bold">Bogota, Colombia</div>
            </div>
            <div class="price --flex-column" style="display: flex">
                <div class="label" style="margin-right: 5px">Price</div>
                <div class="cost -bold">$90.000</div>
            </div>
        </div>
    </div>
    </widget>
</div>

<div class="col">
    <widget type="ticket" class="--flex-column">
    <div style="width: 300px">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
    <div class="top --flex-column">
        <div class="bandname -bold" style="padding-top: 5px">PLΔCE</div>
        <div class="tourname">Andres Carne de Res</div>
        <img src="http://dixieats.com/wp-content/uploads/2015/05/Logo-Andr%C3%A9s-D.C..jpg" alt="" width="300px"
        style="padding: 5px 0 0 0" />
        </div>
    
    <div class="top-back">
        <div class="bandname -bold" style="padding-top: 5px">BΔND</div>
        <div class="tourname">Red Hot Chili Peppers</div>
        <img src="https://images-puremix.akamaized.net/cache/pmmodalimages/images/interface/images_zelab/36/thumb_300_auto.jpg" alt="" width="300px"
        style="padding: 5px 0 0 0" />
        </div>
    </div>
    </div>
    
    <div class="rip"></div>
    <div class="bottom --flex-row-j!sb" style="height: 80px; padding-top: 0">
        <div class="event --flex-column" style="padding-top: 0">
                <div class="date">7th December 2019 - 10:00 PM</div>
                <div class="location -bold">Bogota, Colombia</div>
            </div>
            <div class="price --flex-column" style="display: flex">
                <div class="label" style="margin-right: 5px">Price</div>
                <div class="cost -bold">$130.000</div>
            </div>
        </div>
    </div>
    </widget>
</div>



</div>
</div>
</div>